
body{
    align-items: center;
    height: 100VH;
    background: linear-gradient(to bottom, #f0f0f0, #333);
    margin: 0;
}

h1{
    text-align: center;
    color: #fff;
}
.centralizar-Cadastro{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:  rgb(45, 123, 123);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

input[type="text"] {
    width: 76%;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: large;
}

button {
    padding: 10px 15px;
    font-size: 16px ;
    cursor: pointer;
    border: none;
    background-color: rgb(23, 83, 83);
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
}
.remove {
    cursor: pointer;
    color: #d4c3c3;
    font-size: 20px;
  
}
/* Estiliza o risco sobre a tarefa*/
li.completed {
    text-decoration: line-through;
    color: #fff;
    
}

li {
    font-size: large; 
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

ul{
    list-style: none;
}